@font-face {
    font-family: 'Iceland';
    src: local('Iceland Regular'), local('Iceland-Regular'),
        url('Iceland-Regular.woff2') format('woff2'),
        url('Iceland-Regular.woff') format('woff'),
        url('Iceland-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }