@import "_mixins/font-face"

+font-face("roboto-example", "../fonts/RobotoRegular/RobotoRegular")
+font-face("roboto-example", "../fonts/RobotoBold/RobotoBold", bold)
+font-face("Raleway", "../fonts/RalewayRegular/RalewayRegular", normal)
+font-face("Raleway", "../fonts/RalewayBold/RalewayBold", 700)
+font-face("Raleway", "../fonts/RalewayLight/RalewayLight", 300)
+font-face("Raleway", "../fonts/RalewaySemiBold/RalewaySemiBold", 600)
@font-face
	font-family: 'Raleway'
	src: url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff')

@font-face
	font-family: 'Raleway'
	src: url('../fonts/RalewayBold/RalewayBold.woff') format('woff')
	font-weight: 700

@font-face
	font-family: 'Raleway'
	src: url('../fonts/RalewayExtraBold.woff') format('woff')
	font-weight: 800

