@import "_mixins/font-face"

+font-face("roboto-example", "../assets/fonts/RobotoRegular/RobotoRegular")
+font-face("roboto-example", "../assets/fonts/RobotoBold/RobotoBold", bold)
+font-face("Raleway", "../assets/fonts/RalewayRegular/RalewayRegular", normal)
+font-face("Raleway", "../assets/fonts/RalewayBold/RalewayBold", 700)
+font-face("Raleway", "../assets/fonts/RalewayLight/RalewayLight", 300)
+font-face("Raleway", "../assets/fonts/RalewaySemiBold/RalewaySemiBold", 600)
+font-face("Rufina", "../assets/fonts/rufina-v8-latin/rufina-v8-latin-regular", 400)
+font-face("Rufina", "../assets/fonts/rufina-v8-latin/rufina-v8-latin-700", 400)

@font-face
	font-family: 'Raleway'
	src: url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff')

@font-face
	font-family: 'Rufina'
	src: url('../assets/fonts/rufina-v8-latin/rufina-v8-latin-regular.woff') format('woff')

@font-face
	font-family: 'Rufina'
	src: url('../assets/fonts/rufina-v8-latin/rufina-v8-latin-700.woff') format('woff')
	font-weight: 700

@font-face
	font-family: 'Raleway'
	src: url('../fonts/RalewayBold/RalewayBold.woff') format('woff')
	font-weight: 700

@font-face
	font-family: 'Raleway'
	src: url('../fonts/RalewayExtraBold.woff') format('woff')
	font-weight: 800

