@import "vars"


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1770px)
	.category-head
		.menu
			margin-right: 10px
			li
				margin-left: 25px
	.category-head-body
		padding: 0 55px
	.post 
		.left-col 
			.feed-b-box
			 .title-box
					h3
						margin-top: 15%

@media screen and (max-width: 1632px)
	.post 
		.left-col
			.post-content
				margin-bottom: 75px
	.feed-b-review
		padding-left: 6.5%
		.wpcr3_product
			width: 100%
			.slick-prev
				left: -60px
	.main-head
		padding-left: 80px
		padding-right: 80px
		.social-wrap
			right: 100px
		.top-wrapper
			.top-centered
				padding-left: 85px
				padding-right: 85px
	//Section about
	.frontend-wrap 
		.skills 
			padding-right: 0
			transition: all 1.8s
	//Section about end

	//section contact 
	#contacts
		.contact-bg
			align-items: end
			padding-left: 105px
	.contact-header
		padding-right: 200px !important

	//section contact end


@media screen and (max-width: 1408px)
	.post
		.wpcr3_submit_btn, .wpcr3_fconfirm2
			margin-left: 0
		.wpcr3_respond_2
			textarea
				width: 95%
				margin-left: 0
				margin-top: 28px
		.left-col
			.post-content, .taxonomy
				width: 100%
				margin-right: 0px
				padding-left: 55px
				padding-right: 40px
			.wpcr3_div_2
				width: 100%
			.feed-b-box
				padding-left: 50px
				.f_content
					width: 100%
		.wpcr3_review_form_text_field
			input
				margin-left: 0px
				margin-top: 30px
	//section contact 
	.contact-header
		padding-right: 135px !important
			
			

	//section contact end

@media screen and (max-width: 1366px)
	.main-head
		padding-left: 50px
		padding-right: 50px
		.logo-container
			margin-top: 0
		.social-wrap
			right: 70px
			ul
				li
					margin-left: 30px
		.top-wrapper 
			.top-centered
				padding-left: 55px
				padding-right: 55px
	.feed-review-title
		font-size: 28px
		padding-top: 0px
		padding-bottom: 25px
		padding-left: 50px
	.post
		margin-top: 75px
		div
			.wpcr3_rating_style1
				line-height: 27px
			.wpcr3_rating_style1_base //при нажатии 
				background: url("../img/small_star.png") 0 0 no-repeat
				width: 129px
				height: 22px
				line-height: 18px
			.wpcr3_rating_style1_status
				height: 22px
				line-height: 22px
			.wpcr3_rating_style1_average
				background: url("../img/small_star.png") 0 -26px no-repeat
				width: 126px
				height: 22px
				line-height: 18px
			.wpcr3_rating_style1_score
				background: url("../img/small_star.png") no-repeat
				height: 22px
				line-height: 18px
				width: 126px
				div
					height: 22px
					line-height: 27px
					&.wpcr3_rating_style1_score1
						width: 17%
					&.wpcr3_rating_style1_score2
						width: 38%
					&.wpcr3_rating_style1_score3
						width: 58.5%
					&.wpcr3_rating_style1_score4
						width: 79%
					&:hover
						background: url("../img/small_star.png") bottom right no-repeat		
		.wpcr3_respond_2
			textarea
				height: 90px !important
		.wpcr3_review_form_text_field
			input
				margin-left: 0px
				height: 45px
		.wpcr3_rating_stars
			margin-left: 0px
		.wpcr3_submit_btn
			width: 210px
			height: 60px
			font-size: 20px
		.left-col
			.post-content, .taxonomy
				margin-left: 0
			.taxonomy
				min-height: 380px 
			.post-content
				p
					font-size: 17px
					line-height: 20px
					a			
						width: 220px
						height: 55px
						font-size: 25px
			.feed-b-box 
				h3
					margin-bottom: 7%
				.title-box
					h3
						font-size: 28px
						width: 255px
	.feed-b-review
		padding-left: 110px
		padding-top: 0
		padding-bottom: 120px
		div
			.wpcr3_rating_style1_average
				background: url("../img/small_star.png") 0 -26px no-repeat
				height: 21px
				line-height: 21
			.wpcr3_rating_style1_base
				background: url("../img/small_star.png") 0 0 no-repeat
				width: 129px
				height: 22px
		div.wpcr3_review
			width: 100%
			.wpcr3_content
				p
					width: 315px
					font-size: 17px
		.wpcr3_product
			padding-left: 0px
			.slick-prev
				//left: -45px
	//Section about
	.about-body 
		.frontend
			height: 935px
			.big-title
				left: -228px
				transition: all 1.8s
	.frontend-wrap 
		.skilss-wrap
			justify-content: center
			padding-top: 70px
	.backend
		height: 850px
		transition: height 1.8s
		.big-title
			right: -193px
	.backend-wrap 
		.skilss-wrap
			margin-right: 0
			transition: all 1.8s
			align-items: flex-start
			padding-left: 70px
		.text
			margin-left: 0
			transition: all 1.8s
		.skills
			padding-top: 320px
		.title-block
			margin-left: 83px
	//Section about end

	//section resume
	.resume-title
		position: relative
		justify-content: flex-start
	.resume-body
		.big-title
			left: 0
			@include adaptiv-font(230,72)
			position: relative
			padding-top: 40px
		.resume-item
			padding-top: 125px
			padding-bottom: 70px
			padding-left: 70px
			transition: all 1.8s
	//section resume end

	//section portfolio-s
	.portfolio-s
		.title-block
			margin-left: 40px
	.portf-cat
		margin-left: 0
		height: auto
		padding-top: 55px
		padding-bottom: 55px
		li 
			margin-right: 109px
			&:first-child
				margin-left: 7vw
				margin-right: 10vw
	.portfolio-wrap
		padding-bottom: 115px

	//portfolio page
	.category-page
		.portfolio-s
			padding-top: 10%
		.portfolio-wrap
			padding-bottom: 100px
		.filter_div
			height: 100px
	//section portfolio-s end

	//section contact 
	.contact-header
		padding-right: 70px !important
	#contacts
		padding-top: 50px
		.contact-form
			width: 440px
		.fw_form_fw_form 
			button
				margin-top: 25px
	//section contact end

	//section count
	.count-wrap 
		.count-text
			font-size: 20px
			line-height: 120px
	//section count end

@media screen and (max-width: 1300px)
	.category-head-body 
		.logo-container 
			.logo-title-desc 
				.site-title
					margin-top: 0
					a
					.desc
	.category-head 
		.menu
			margin-right: 0
			li 
				a
					font-size: 16px
	//section contact 
	#contacts 
		.contact-bg
			padding-left: 70px

	//section contact end

@media screen and (max-width: 1285px)
	.post
		.wpcr3_review_form_text_field 
			input
				height: 35px
		.left-col
			.taxonomy
				min-height: 280px
				h2 
					//font-size: 50px
					@include adaptiv-font(35, 25)
					margin-top: 47px
				.yoast-breadcrumbs 
					a
						font-size: 16px
				.hashtag 
					a
						font-size: 14px !important
			.post-content
				h2 
					//font-size: 50px
					@include adaptiv-font(35, 25)
					margin-top: 47px
			.feed-b-box
				.title-box
					h3
					 //@include adaptiv-font(35, 20)
					 width: 190px
					 font-size: 23px
	//Section about
	.frontend-wrap
		.skilss-wrap
			width: 390px
	//Section about end
// ≥1200px
+media-breakpoint-down(lg)
	//menu mobile
	body
		&.lock
			overflow: hidden
	.category-head-body
		justify-content: space-between
		padding: 0	15px 0 15px
		height: 100px
		.menu
			display: block
			padding-left: 0
			margin-left: 10px
			text-align: center
			.current-menu-item
				border-bottom: none
				a 
					font-weight: normal
			li
				margin-left: 0px
				&:nth-child(1) a
					+animation-duration(1s)
				&:nth-child(2) a
					+animation-duration(1.5s)
				&:nth-child(3) a
					+animation-duration(2s)	
				&:nth-child(4) a
					+animation-duration(2.3s)		
				&:nth-child(5) a
					+animation-duration(2.6s)		
				&:nth-child(6) a
					+animation-duration(2.9s)		
				&:nth-child(7) a
					+animation-duration(3.3s)		
				a 
					color: #fff
					display: flex
					justify-content: center
					align-items: center
					text-transform: uppercase
					text-decoration: none
					position: relative
					height: 60px		
					font-family: 'RobotoRegular'
					font-size: 14px
					+kerning(4)
					&::after
						display: none			
	.top-menu-categ
		position: fixed
		top: -100%  //убираем в верх меню и показываем его при клике на бургер
		left: 0
		width: 100%
		height: 100%
		overflow: auto // прокрутка(скрол) моб. меню если не влазит на экран моб вер.
		background-color: rgba(0,0,0,.8)
		padding: 130px 10px 20px 10px
		transition: all 0.3s ease 0s
		overflow: auto
		&.active
			top: 0 //показыаем меню
	.header__burger
		display: block
		position: relative
		width: 30px
		height: 20px
		position: relative
		z-index: 3		
		&::before,&::after
			content: ''
			background-color: rgba(0,0,0,.8)
			position: absolute
			width: 100%
			height: 2px
			left: 0
			transition: all 0.3s ease 0s
		&::before
			top: 0
		&::after
			bottom: 0
		span 
			background-color: rgba(0,0,0,.8)
			position: absolute
			width: 100%
			height: 2px
			left: 0
			top: 9px
			transition: all 0.3s ease 0s
		&.active
			&::before
				transform: rotate(45deg)
				background-color: rgba(255,255,255,.8)
				top: 9px
		&.active
			&::after
				transform: rotate(-45deg)
				background-color: rgba(255,255,255,.8)
				bottom: 9px
		&.active
			span 
				transform: scale(0)
	//END menu mobile
	.post
		.right-col
			width: 57.67%
		.left-col
			width: 42.33%
			.feed-b-box
				justify-content: center
				.title-box
					h3 
						margin-top: 1.5em
						margin-bottom: 3%
			.wpcr3_review_form_text_field
				input
					margin-top: 25px
					width: 100%
					margin-left: -2px
			.taxonomy
				padding-right: 30px
			.post-content
				padding-right: 30px
				margin-bottom: 65px
				p
					font-size: 15px
					line-height: 19px
			.wpcr3_div_2
				padding-right: 55px
		.wpcr3_respond_2 
			textarea
				margin-top: 25px
				padding: 20px 15px
				min-width: 100%
				max-width: 100%
	.feed-b-review		
		div.wpcr3_review
			.wpcr3_content
				p
					width: 240px
	.wpcr3_button_1
		margin-bottom: 0
	//Section about
	.backend
		.big-title
			right: -175px
	.about-body 
		.frontend 
			.big-title
				left: -209px
	.backend-wrap
		.title-block
			margin-left: 70px
		.text
			width: 100%
		.title-block
			span
				left: -82px
				top: -108px
		.skilss-wrap
			//padding-left: 50px
	.title-block
		font-size: 60px
		span
			font-size: 170px
	//Section about end

	//section resume
	.resume-body
		.big-title
			padding-top: 0px
			position: absolute
			left: -24px
	.resume-body 
		.resume-item
			padding-top: 130px
			padding-bottom: 80px
	//section resume end
	//section portfolio-s
	.portf-cat
		height: auto
		padding-top: 55px
		padding-bottom: 50px
		li 
			margin-right: 45px
	.portfolio-wrap
		padding-bottom: 100px
	.title-wrap 
		.desc
			margin-left: 95px
	//section portfolio-s end
	//section contact 
	#contacts 
		.contact-form
    	width: 360px
	//section contact end

// ≥992px
+media-breakpoint-down(md)
	.main-head
		background-position: 75% top !important
	.post
		.right-col
			.img-box
				.heart-like
					.likecount
						font-size: 18px
					svg
						width: 30px
		.left-col
			padding-top: 0px
			.taxonomy
			.post-content
				p
					font-size: 14px
					line-height: 16px
				h2
					font-size: 28px
		.wpcr3_submit_btn
			margin-top: 25px			
	.feed-b-review
		padding-right: 70px
		div
			.wpcr3_review
				.wpcr3_content
					p
						font-size: 14px
		.wpcr3_caps
			font-size: 25px


	//Section about
	.about-body 
		.frontend
			width: 54%
			height: 760px
			.big-title
				left: -190px
	.frontend-wrap 
		.skilss-wrap
			width: 100%
			padding-right: 45px
			padding-left: 10px
	.title-block
		font-size: 40px
		span
			font-size: 112px
	.text
		font-size: 16px
	.skill-list
		font-size: 35px
	.backend
		height: 710px
		top: 470px
	.backend-wrap 
		.title-block
			margin-left: 46px
			span
				left: -54px
				top: -65px

	//Section about end


	//section resume 
	.resume-body 
		.big-title
			left: -60px
	.resume-body 
		.resume-item
			padding-top: 90px
			padding-bottom: 40px
	//section resume end

	//section portfolio-s
	.title-wrap 
		.desc
			font-size: 16px
	.portf-cat
		margin-left: 0
		li 
			a 
				font-size: 16px
	.portfolio-wrap
		margin-top: 70px
	//section portfolio-s end

	//section contact 
	.contact-header 
		.s-descr
			font-size: 16px
			margin-top: 40px
	#contacts 
		.contact-box
			.title-attr
				font-size: 16px
			.attribut
				font-size: 20px
		.fw_form_fw_form 
			button
				font-size: 25px
				padding-top: 10px
				padding-bottom: 10px
				padding-left: 70px
				padding-right: 70px
		.contact-form
			width: 100%
		.contact-bg
			padding-left: 55px
			padding-right: 55px
			padding-top: 55px
			padding-bottom: 55px
	.title-form-contact
		padding-right: 0
		text-align: center
	//section contact end

	//section count
	#count-s
		padding-top: 0
	.count-wrap
		flex-direction: column
		align-items: center
		.count
			margin-right: 0
		.count-text
			font-size: 20px
			line-height: 60px
			&::before
				right: 12%
	//section count end	


//mob ver image full screen
@media screen and (max-width: 945px)
	.post
		.wpcr3_submit_btn
			margin: 0 auto
			margin-top: 35px
		div .wpcr3_rating_style1_status
			width: 126px
		div	.wpcr3_rating_style1_base
			width: 126px
		margin-top: 65px
		.wpcr3_rating_stars
			text-align: center
		.left-col
			width: 100vw
			.wpcr3_div_2
				padding-right: 56px
			.taxonomy
				min-height: 20px
				.hashtag 
					a
						margin-right: 70px
			.post-content
				display: flex
				padding-left: 57px
				padding-right: 57px
				margin-bottom: 61px
				align-items: center
				h2 
					font-size: 30px
					padding-right: 50px
					width: 60%
				p
					width: 40%
					//&:last-child
					//	display: none
					//a
					//	display: none
				.button-post
					display: none
			.feed-b-box
				margin-top: 125px
				padding-left: 56px
				.title-box
					justify-content: center
					h3
						width: auto
						margin-right: 0
						margin-top: 70px
						margin-bottom: 0
			.img-box-mob
				position: relative
				.heart-like
					position: absolute
					left: 0
					bottom: -55px
					z-index: 1
					display: flex
					align-items: center
					width: 100%
					justify-content: space-between
					padding: 0 57px
					flex-direction: row-reverse
					svg
						width: 30px
						path
							fill: #000
							transition: all 0.5s
						&:hover
							path
								fill: red						
					.is-active
						svg
							path
								fill: red
					.likecount
						font-family: 'RobotoRegular'
						color: #969696
						font-size: 20px
						margin-left: 0px
						.like-t
							margin-left: 3px
					.like_ico
						height: 31px
	.category-head-body
		padding: 0 56px 0 56px
		.logo-container
			width: 100%
			.logo-title-desc
				display: flex
				justify-content: space-between
				width: 100%
			.desc
				font-size: 12px
	.header__burger
		position: absolute
		left: 48%
		&.active
			right: 4%
			left: auto
	.yoast-breadcrumbs
		display: none
	.img-box-mob
		display: block
		img
			padding: 0 57px
	.right-col
		display: none
	//section portfolio-s
	.portf-cat
		li 
			margin-right: 70px
	//section portfolio-s end

	//footer
	.attr-list
		li 
			p 
				font-size: 16px
	.main-footer 
		padding: 65px 0
		.footer-menu 
			.menu 
				li 
					a
						font-size: 16px
	.share-wrap
		width: 195px
		height: 54px
	.footer-wrap 
		.social-wrap
			display: flex
			align-items: center
			flex-direction: column
			.svg-icon
				height: 27px
				svg
					width: 27px
					height: 27px
			.text	
				font-size: 30px
	.icon-list
		a
			svg
				width: 26px
				height: 25px
		li 
			.vk-icon 
				svg
					width: 32px
					height: 28px
	//footer end

//≥887
@media screen and (max-width: 887px)
	.feed-b-review
		padding-top: 0
		padding-bottom: 120px
		.feed-review-title
			width: 100%
			text-align: center
		div.wpcr3_review
			padding: 0	10px
			.wpcr3_caps
				text-align: center
				width: 100%
			.wpcr3_review_datePublished
				text-align: center
				width: 100%
			.wpcr3_content
				p 
					width: 100%
					text-align: center
			.wpcr3_review_ratingValue
				width: 100%
				text-align: center
		div 
			.wpcr3_rating_style1_base
				text-align-last: left

	//Section about
	.skill-list
		font-size: 25px
		margin-left: 17%
	//Section about end

	//section resume 
	.resume-list 
		.date
			font-size: 18px
		.item-title
			font-size: 20px
		.item-desc
			font-size: 16px
	.resume-body
		.big-title
			@include adaptiv-font(230,63)
	//section resume end


	//section portfolio-s
	.title-wrap
		.desc
			margin-left: 70px
	//section portfolio-s end

	//section contact //≥887
	.contact-header
		padding-right: 55px!important
	.contact-header 
		.s-descr
			max-width: 230px
	#contacts
		.contact-box
			width: 45%
			padding-right: 0
			.contact-attribute
				width: 250px
		.contact-bg
			width: 55%



	//section contact end
	//footer
	#menu-footer-menu
		padding-left: 20px
	//footer end

// ≥768px
+media-breakpoint-down(sm)
	.main-head
		padding-left: 30px
		padding-right: 30px
		.social-wrap
			right: 50px
			ul
				li
					margin-left: 30px
		.top-wrapper 
			.top-centered
				padding-left: 30px
				padding-right: 30px
	.resume_container .left, .right
		text-align: left
		border-right: none
		h3
			text-align: left
			margin-bottom: 20px
			margin-top: 20px
		.resume-icon
			margin-bottom: 20px
	.port-descr
		p
			max-width: 100%	

	//Section about
	.about-body 
		.frontend
			height: 460px
			.big-title
				left: -110px
	.big-title
		font-size: 70px
	.skill-list
		li
			margin: 10px 0
	.frontend-wrap 
		.skilss-wrap
			padding-top: 0
			height: 100%
			justify-content: flex-start
			padding-top: 55px
	.backend
		height: 417px
		top: 280px
		position: absolute
		right: 0
		.big-title
			right: -100px
	.backend-wrap
		.skilss-wrap
			padding-left: 45px
		.skills
			width: 70%
			padding-top: 195px
	//Section about end


	//section resume 
	.resume-body
		flex-direction: column-reverse
	.resume-body 
		.resume-item
			width: 100%
			padding-top: 50px
			padding-bottom: 0
		.big-title
			position: relative
			font-size: 53px
			transform: none
			left: auto
			color: #fff
			opacity: 0.4
	.resume-title
		overflow: unset
		justify-content: center
		width: 251px
		height: 320px
		background: #525252
		position: absolute
		top: -105px
	.resume-list
		flex-wrap: wrap
		display: flex
		justify-content: center
		li
			width: 195px
			margin-right: 30px
			margin-bottom: 40px
			&:first-child
				margin-left: 225px
			&:last-child
				//margin-right: 0
		.item-title
			width: 190px
		.item-desc
			margin-bottom: 0

	//section resume end
	//section count
	#count-s
		.fw-row
			display: flex 
			justify-content: center
			align-items: center
			flex-wrap: wrap
	.count-wrap
		width: 33.3333%
	//section count end	
	//footer
	.main-footer
		padding-right: 20px
		padding-left: 20px
		padding-top: 50px
		padding-bottom: 70px
	#menu-footer-menu
		padding-left: 0px
		.footer-menu 
			.menu 
				li 
					a
						font-size: 14px
	.main-footer 
		.footer-menu 
			.menu 
				li 
					a
						font-size: 14px
	.icon-list 
		a 
			svg
				width: 20px
				height: 21px
		li 
			.vk-icon 
				svg
					width: 25px
					height: 22px
	.attr-list
		display: flex
		flex-direction: column
		align-items: flex-end	
		li 
			p
				font-size: 14px
				margin-left: 0
		.mail-icon, .phone-icon, .skype-icon
			display: none
	.share-wrap
		display: none
	.footer-wrap 
		justify-content: space-between
		.social-wrap
			position: absolute
			right: 0
			bottom: -34px

	//footer end

//≥730px
@media screen and (max-width: 730px)
	.post
		.left-col
			.post-content
				display: block
				h2
					width: 100%
					text-align: center
					padding-right: 0
					padding-left: 0
				p 
					width: 100%
					text-align: center
	.category-head-body
		height: 75px
		.logo-container
			.logo-title-desc
				align-items: center
				.desc
					width: 125px
	//Section about 
	.frontend-wrap 
		.skilss-wrap
			padding-right: 35px
	//Section about end
	//section portfolio-s
	.portfolio-wrap 
		.portfolio-wrap-bg
			width: 80vw
	.portf-cat
		flex-direction: column
		margin-left: 0
		padding-bottom: 30px
		li
			margin-right: 0px
			margin-bottom: 15px
			&:first-child
				position: absolute
				left: 0				
				a
					color: #000		

	//section portfolio-s end

//≥690px
@media screen and (max-width: 690px)

	//section contact //≥690
	.contact-header 
		padding-right: 15px!important
	#contacts
		padding-bottom: 45px
	.contact-page
		#contacts
			padding-top: 100px
	#contacts
		padding-top: 0
		.fw-container-fluid
			.fw-row
				&:first-child
					position: relative
					width: auto
				&:last-child
					display: block
		.contact-bg
			width: 100%
		.contact-box
			width: 100%
			padding-top: 60px
			padding-left: 15px
			padding-right: 15px
			.contact-attribute
				text-align: center
	.contact-header
		align-items: center
		.s-descr
			max-width: 100%
			margin-bottom: 50px
			margin-top: 30px
	.title-form-contact
		font-size: 16px

	//section contact end


// ≥576px
+media-breakpoint-down(xs)
	.main-head
		padding-left: 0px
		padding-right: 0px
		.toggle-mnu
			width: 45px
			height: 45px
		.logo-container
			margin-top: 0
		.social-wrap
			//transform: rotate(180deg)
			right: unset
			bottom: unset
			left: 20px
			top: 120px
			//margin-top: -20px
			ul
				margin: 0
				padding: 0
				li
					display: block
					margin-left: 0
					text-align: center
					margin-bottom: 40px
	.top-wrapper 
		.top-descr
			.top-centered
				padding-left: 0
				padding-right: 0
				text-align: center
				vertical-align: bottom
				padding-bottom: 100px
				.container-fluid 
					.main-button
						display: flex
						justify-content: center
						width: 100%
	.category-head-body
		padding: 0	20px
	.top-wrapper
		.top-text
			h1
				//font-size: 1.8em
			p
				//font-size: 10px
	//post page 
	.post 
		.left-col 
			.feed-b-box
				padding-left: 20px
				padding-right: 20px
			.wpcr3_div_2
				padding-right: 0
	//post page end
	//Section about
	.about-body 
		.frontend
			top: 0
			width: 80%
			.big-title
				left: -133px
	.frontend-wrap
		flex-direction: column-reverse
		.skilss-wrap
			padding-right: 20px
			padding-left: 20px
			padding-top: 75px
			padding-bottom: 55px
			align-items: center
			height: 100%

	.skills
		width: 100%

	.text
		text-align: center
	.backend-wrap
		flex-direction: column-reverse
		align-items: flex-end
		.skilss-wrap
			padding-left: 0
			align-items: center
			.but-wrap
				justify-content: center
		.skills
			width: 100%
			padding-right: 30px
			padding-left: 30px
			padding-top: 70px
		.text
			text-align: center
	.backend
		position: relative
		top: -25px
		z-index: 0
		width: 75%
		.big-title
			right: -110px

	//Section about end

	.img-box-mob 
		img
			padding: 0 20px
	.feed-b-review
		padding-right: 50px
		padding-left: 50px
		.feed-review-title
			font-size: 25px
		.wpcr3_product 
			.slick-prev
				left: -35px
	.wpcr3_product 
		.slick-next
			right: -30px
	//section portfolio-s
	.portfolio-s
		padding-top: 90px
	.title-wrap
		flex-direction: column
		padding: 0 30px
		.desc
			padding-top: 30px
			margin-left: 0px
			text-align: center
			margin-right: 0
	//section portfolio-s end
	//section count
	.count-wrap
		width: 193px
		.count-text
			line-height: 20px
			&::before
				display: none
		&:last-child
			margin-top: 30px
			.count
				padding-top: 10px
				&::before
					content: ''
					position: absolute
					top: 0
					width: 75%
					height: 1px
					right: 12%
					background: #000
	//section count end	

// ≥520px
@media screen and (max-width: 520px)
	//section resume 
	.resume-body
		align-items: center 		
		.resume-item
		 min-height: 500px
		 display: flex
		 align-items: center
		 padding-right: 70px
		 padding-top: 125px
		.slick-track
			align-items: flex-start
		.resume-list
			min-width: 0
			position: relative
			li
				text-align: center
				margin-bottom: 40px
				margin-top: 40px
				&:first-child
					margin-left: 0
			.item-title
				width: auto
		.slick-arrow
			position: absolute
			top: 50%
			margin-top: -10px
			z-index: 10
			font-size: 0
			width: 34px
			height: 34px
			border: 0
		.slick-prev
			left: -50px
			top: 200px
			background: url('../img/left-arrow.svg') 0 0 no-repeat
		.slick-next
			right: -45px
			top: -10px
			background: url('../img/right-arrow.svg') 0 0 no-repeat
		.slick-disabled
			display: none !important
	.resume-title
		height: 244px
	.backend-wrap 
		.skills
			padding-bottom: 155px
	//section resume end

// ≥425px
@media screen and (max-width: 425px)
	.post 
		.left-col 
			.post-content
				padding-right: 20px
				padding-left: 20px
			.taxonomy
				padding-right: 20px
				padding-left: 25px
	.count-wrap
		width: 185px

@media screen and (max-width: 380px)
	.top-wrapper 
		.top-text
			h1 
				margin-right: 0
				margin-left: 0
			p
				max-width: 320px
		.top-descr
			.top-centered
				.container-fluid
					.main-button
						.button
							width: 280px
	//Section about 
	.backend-wrap 
		.title-block
			margin-left: 30px
	//Section about end
	//section contact
	#contacts 
		.contact-bg
			padding-left: 25px
			padding-right: 25px
	//section contact end

	//section count
	.count-wrap
		width: 160px
		.count-text
			font-size: 16px

	//section count end	


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
@media screen and (max-height: 800px)
	.main-head
		.social-wrap
			ul
				li
					margin-bottom: 25px

@media screen and (max-height: 740px)
	.top-wrapper 
		.top-descr
			.top-centered
				padding-bottom: 50px

@media screen and (max-height: 697px)
	.main-head
		.social-wrap
			bottom: 30px
	.top-wrapper
		.top-descr
			.top-centered
				padding-top: 130px
				.container-fluid
					.main-button
						padding-bottom: 0
						margin-top: 30px
	.about-body
		.frontend
			top: -60px

