@import "vars"


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1770px)
	.category-head
		.menu
			margin-right: 10px
			li
				margin-left: 25px
	.category-head-body
		padding: 0 25px
	.post 
		.left-col 
			.feed-b-box
			 .title-box
					h3
						margin-top: 15%

@media screen and (max-width: 1632px)
	.post 
		.left-col
			.taxonomy
				min-height: 250px
			.post-content
				margin-bottom: 75px
	.feed-b-review
		padding-left: 6.5%
		.wpcr3_product
			width: 100%

@media screen and (max-width: 1408px)
	.post
		.wpcr3_submit_btn, .wpcr3_fconfirm2
			margin-left: 0
		.wpcr3_respond_2
			textarea
				width: 95%
				margin-left: 0
				margin-top: 35px
		.left-col
			.post-content, .taxonomy
				width: 100%
				margin-right: 0px
				padding-left: 55px
				padding-right: 40px
			.wpcr3_div_2
				width: 100%
			.feed-b-box
				padding-left: 50px
				.f_content
					width: 100%
		.wpcr3_review_form_text_field
			input
				margin-left: 0px
				margin-top: 30px

@media screen and (max-width: 1366px)
	.post
		.wpcr3_respond_2
			textarea
				height: 110px !important
		.wpcr3_review_form_text_field
			input
				margin-left: 0px
				height: 55px
		.wpcr3_rating_stars
			margin-left: 0px
		.wpcr3_submit_btn
			width: 220px
			height: 55px
			font-size: 25px
		.left-col
			.post-content, .taxonomy
				margin-left: 0
			.post-content
				p
					font-size: 17px
					line-height: 20px
					a			
						width: 220px
						height: 55px
						font-size: 25px
			.feed-b-box 
				h3
					margin-bottom: 7%
	.feed-b-review
		padding-left: 50px
		div.wpcr3_review
			width: 100%
			.wpcr3_content
				p
					width: 334px
					font-size: 17px
		.wpcr3_product
			padding-left: 0px

@media screen and (max-width: 1300px)
	.category-head-body 
		.logo-container 
			.logo-title-desc 
				.site-title
					margin-top: 0
					a
					.desc
	.category-head 
		.menu
			margin-right: 0
			li 
				a
					font-size: 16px

@media screen and (max-width: 1285px)
	.post
		.wpcr3_review_form_text_field 
			input
				height: 35px
				font-size: 16px
		.left-col
			.taxonomy
				min-height: 180px
				.yoast-breadcrumbs 
					a
						font-size: 16px
				.hashtag 
					a
						font-size: 14px !important
			.post-content
				h2 
					//font-size: 50px
					@include adaptiv-font(35, 25)
					margin-top: 47px
			.feed-b-box
				.title-box
					h3
					 //@include adaptiv-font(35, 20)
					 width: 190px
					 font-size: 23px
// ≥1200px
+media-breakpoint-down(lg)
	//menu mobile
	body
		&.lock
			overflow: hidden
	.category-head-body
		justify-content: space-between
		padding: 0	15px 0 15px
		height: 100px
		.menu
			display: block
			padding-left: 0
			margin-left: 10px
			text-align: center
			li
				margin-left: 0px
				a 
					color: #fff
					display: flex
					justify-content: center
					align-items: center
					text-transform: uppercase
					text-decoration: none
					position: relative
					height: 55px			
	.top-menu-categ
		position: fixed
		top: -100%  //убираем в верх меню и показываем его при клике на бургер
		left: 0
		width: 100%
		height: 100%
		overflow: auto // прокрутка(скрол) моб. меню если не влазит на экран моб вер.
		background-color: rgba(0,0,0,.8)
		padding: 100px 10px 20px 10px
		transition: all 0.3s ease 0s
		overflow: auto
		&.active
			top: 0 //показыаем меню
	.header__burger
		display: block
		position: relative
		width: 30px
		height: 20px
		position: relative
		z-index: 3		
		&::before,&::after
			content: ''
			background-color: rgba(0,0,0,.8)
			position: absolute
			width: 100%
			height: 2px
			left: 0
			transition: all 0.3s ease 0s
		&::before
			top: 0
		&::after
			bottom: 0
		span 
			background-color: rgba(0,0,0,.8)
			position: absolute
			width: 100%
			height: 2px
			left: 0
			top: 9px
			transition: all 0.3s ease 0s
		&.active
			&::before
				transform: rotate(45deg)
				top: 9px
		&.active
			&::after
				transform: rotate(-45deg)
				bottom: 9px
		&.active
			span 
				transform: scale(0)
	//END menu mobile
	.post
		div
			.wpcr3_rating_style1
				line-height: 27px
			.wpcr3_rating_style1_base //при нажатии 
				background: url("../img/small_star.png") 0 0 no-repeat
				width: 129px
				height: 22px
				line-height: 18px
			.wpcr3_rating_style1_status
				height: 22px
				line-height: 22px
			.wpcr3_rating_style1_average
				background: url("../img/small_star.png") 0 -26px no-repeat
				width: 126px
				height: 22px
				line-height: 18px
			.wpcr3_rating_style1_score
				background: url("../img/small_star.png") no-repeat
				height: 22px
				line-height: 18px
				width: 126px
				div
					height: 22px
					line-height: 27px
					&.wpcr3_rating_style1_score1
						width: 17%
					&.wpcr3_rating_style1_score2
						width: 38%
					&.wpcr3_rating_style1_score3
						width: 58.5%
					&.wpcr3_rating_style1_score4
						width: 79%
					&:hover
						background: url("../img/small_star.png") bottom right no-repeat
		.right-col
			width: 57.67%
		.left-col
			width: 42.33%
			.feed-b-box
				justify-content: center
				.title-box
					h3 
						margin-top: 1.5em
						margin-bottom: 3%
			.wpcr3_review_form_text_field
				input
					margin-top: 25px
					width: 100%
					margin-left: -2px
			.taxonomy
				padding-right: 30px
			.post-content
				padding-right: 30px
				margin-bottom: 65px
				p
					font-size: 15px
					line-height: 19px
					padding-top: 45px
			.wpcr3_div_2
				padding-right: 55px
		.wpcr3_respond_2 
			textarea
				margin-top: 25px
				padding: 20px 15px
				min-width: 100%
				max-width: 100%
	.feed-b-review		
		div.wpcr3_review
			.wpcr3_content
				p
					width: 240px
		div
			.wpcr3_rating_style1_average
				background: url("../img/small_star.png") 0 -26px no-repeat
				height: 21px
				line-height: 21
			.wpcr3_rating_style1_base
				background: url("../img/small_star.png") 0 0 no-repeat
				width: 129px
	.wpcr3_button_1
		margin-bottom: 0


// ≥992px
+media-breakpoint-down(md)
	.post
		.right-col
			.img-box
				.heart-like
					.likecount
						font-size: 18px
					svg
						width: 30px
		.left-col
			padding-top: 0px
			.taxonomy
			.post-content
				p
					font-size: 14px
					line-height: 16px
					padding-top: 35px
				h2
					font-size: 28px
		.wpcr3_submit_btn
			margin-top: 25px			
	.feed-b-review
		div
			.wpcr3_review
				.wpcr3_content
					p
						font-size: 14px
		.wpcr3_caps
			font-size: 25px

//mob ver image full screen
@media screen and (max-width: 945px)
	.post
		div .wpcr3_rating_style1_status
			width: 126px
		div	.wpcr3_rating_style1_base
			width: 126px
		margin-top: 65px
		.wpcr3_rating_stars
			text-align: center
		.left-col
			width: 100vw
			.wpcr3_div_2
				padding-right: 56px
			.taxonomy
				min-height: 20px
				.hashtag 
					a
						margin-right: 70px
			.post-content
				display: flex
				padding-left: 57px
				padding-right: 57px
				margin-bottom: 61px
				h2 
					font-size: 30px
					padding-right: 50px
					width: 60%
				p
					width: 40%
					&:last-child
						display: none
					a
						display: none
			.feed-b-box
				margin-top: 125px
				padding-left: 56px
				.title-box
					justify-content: center
					h3
						width: auto
						margin-right: 0
						margin-top: 70px
						margin-bottom: 0
			.img-box-mob
				position: relative
				.heart-like
					position: absolute
					left: 0
					bottom: -55px
					z-index: 1
					display: flex
					align-items: center
					width: 100%
					justify-content: space-between
					padding: 0 57px
					flex-direction: row-reverse
					svg
						width: 30px
						path
							fill: #000
							transition: all 0.5s
						&:hover
							path
								fill: red						
					.is-active
						svg
							path
								fill: red
					.likecount
						font-family: 'RobotoRegular'
						color: #969696
						font-size: 20px
						margin-left: 17px
						.like-t
							margin-left: 3px
					.like_ico
						height: 31px
	.category-head-body
		padding: 0 56px 0 56px
		.logo-container
			width: 100%
			.logo-title-desc
				display: flex
				justify-content: space-between
				width: 100%
			.desc
				font-size: 12px
	.header__burger
		position: absolute
		left: 50%
	.yoast-breadcrumbs
		display: none
	.img-box-mob
		display: block
		img
			padding: 0 57px
	.right-col
		display: none


// ≥768px
+media-breakpoint-down(sm)
	.resume_container .left, .right
		text-align: left
		border-right: none
		h3
			text-align: left
			margin-bottom: 20px
			margin-top: 20px
		.resume-icon
			margin-bottom: 20px
	.port-descr
		p
			max-width: 100%	


// ≥576px
+media-breakpoint-down(xs)
	.top-wrapper
		.top-text
			h1
				font-size: 1.8em
				margin-left: 15px
				margin-right: 15px
			p
				font-size: 10px

	.main-footer
		text-align: left
		.social-wrap
			float: left
			margin-top: 20px
			width: 100%
			ul
				padding-left: 0px

@media screen and (max-width: 380px)
	.top-wrapper 
		.top-text
			h1 
				font-size: 1.5em
				margin-right: 0
				margin-left: 0
			p
				max-width: 320px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
