@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.4285
	font-family: $default-font
	overflow-x: hidden
	color: $text
	-webkit-font-smoothing: antialised
	input, textarea
		border: #666 1px solid
		outline: none

.hidden
	display: none
		
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

section,
.main-head
	position: relative
	h3
		text-align: center
		text-transform: uppercase
		font-weight: 400
		font-size: 12px
		margin-top: 0px
		margin-bottom: 35px

.category-head
	height: 70px
	display: flex
	width: 100%
	align-items: center
	justify-content: center
	.navbar-brand
		font-size: 0
		position: relative
		padding: 0
		svg
			width: 40px
			height: 40px
	.menu
		display: flex
		list-style-type: none
		justify-content: center
		align-items: center
		padding-left: 0
		margin-bottom: 0
		li
			margin-left: 15px
			margin-right: 15px
			text-transform: uppercase
			a 
				text-decoration: none
.portfolio-description
	display: flex
	flex-direction: column
	justify-content: center
	.img-box , h2
		text-align: center
.nav-title
	font-size: 36px

.nav-links
	display: flex
	position: fixed
	top: 50%
	justify-content: space-around
	width: 98%

.header-title
	display: flex
	padding-top: 5vh
	padding-bottom: 5vh
	justify-content: center
	align-items: center
	flex-direction: column
	width: 100%
	.site-title
		font-size: 120px
		font-family: Rufina
		font-weight: 400
		font-style: normal
		a 
			text-decoration: none
			transition: ease 0.2s
	
section
	padding: 70px 0 90px
	h2
		text-align: center
		font-size: 24px
		text-transform: uppercase
		margin: 0 0 15px
		color: #555
	.personal_header
		font-size: 13px
		text-align: left
		margin-bottom: 30px

.navbar-brand
	position: absolute
	z-index: 200

.s-descr-wrap
	text-align: center
	.s-descr 
		display: inline-block
		text-transform: uppercase
		font-size: 12px
		position: relative
		margin-bottom: 80px
		&::after
			content: ""
			width: 150px
			height: 1px
			position: absolute
			left: 50%
			margin-left: -75px
			margin-top: 35px


.main-head
	min-height: 480px
	padding-top: 20px

.loader 
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader-inner
		background-image: url("../img/preloader.gif")
		background-repeat: no-repeat
		background-size: cover
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

.logo-container
	float: left

svg
	height: 60px
	width: 60px
	z-index: 1
	position: relative

.toggle-mnu
	width: 60px
	height: 60px
	z-index: 100
	border: none
	position: fixed
	right: 20px
	top: 20px
	float: right
	span
		display: block

$w: 28px
$h: 3px

.sandwich 
	width: $w
	height: $w
	position: absolute
	top: 8px
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 200

.sw-topper
	position: relative
	top: 0
	width: $w 
	height: $h
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
			
	//transition-delay: 0.2s, 0s


.sw-bottom
	position: relative
	width: $w
	height: $h
	top: $h * 2.2
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s
.sw-footer
	position: relative
	width: $w
	height: $h
	top: $h * 4.5
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: all 0.5s
	transition-delay: 0.1s
	display: block
.sandwich.active
	.sw-topper
		top: 9px
		transform: rotate(-45deg)
	.sw-bottom
		top: 6px
		transform: rotate(45deg)
	.sw-footer
		opacity: 0
		top: 0
		transform: rotate(180deg)

.top-mnu		
	position: fixed
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,.7)
	right: 0
	top: 0
	z-index: 50
	display: none
	ul,
	li
		list-style-type: none
		padding: 0
		margin: 0
	ul
		margin-top: 180px
		text-align: center
		vertical-align: middle
		li
			&:nth-child(1) a
				+animation-duration(.5s)
			&:nth-child(2) a
				+animation-duration(1s)
			&:nth-child(3) a
				+animation-duration(1.5s)	
			&:nth-child(4) a
				+animation-duration(2s)				
		a
			color: #fff
			display: block
			text-transform: uppercase
			text-decoration: none
			position: relative
			height: 55px										
			span
				display: block
				position: relative
				top: -39px
				left: 0
				height: 100%
				+transition(all 0.5s ease)
				&:hover
					background-color: rgba(255,255,255,.08)

.top-wrapper
	display: table
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 10
	.top-descr
		display: table-row
		.top-centered
			display: table-cell
			text-align: center
			vertical-align: middle
	.top-text
		display: inline-block
		+transition(all 1s ease)
		p
			margin: 0
			text-transform: uppercase
			+animation-delay(1.8s)
		h1
			display: inline-block
			padding: 10px 30px
			color: #fff
			border: 8px solid #fff
			text-transform: uppercase
			font-weight: 700
			font-size: 3.5em
			background-color: rgba(0,0,0,.6)
			margin-left: 20px
			margin-right: 20px
			+animation-delay(1s)

.toggle-mnu
	background-color: rgba(0,0,0,.4)

.h-opacify
	opacity: .3
	+transition(all 0.3s ease)

.s-descr-wrap
	text-align: center
	.s-descr 
		display: inline-block

.main-footer
	padding: 12px 0
	font-size: 12px
	font-weight: 300
	.social-wrap
		float: right
		line-height: 0
		ul
			margin: 0px


.person
	text-align: center
	margin-bottom: 40px
	img
		max-width: 220px
		display: inline-block
		border-radius: 50%
.s-about
	p
		margin-bottom: 25px	
	ul,
	li
		margin: 0
		padding: 0
		list-style-type: none
	li
		margin-bottom: 10px
	.social-wrap
		margin-top: 25px
	.fw-icon
		i
			font-size: 20px
	a 
		text-decoration: none
.social-wrap
	li
		display: inline-block
		font-size: 20px
		padding: 0 3px
.resume_container
	.left	.resume-description strong
		margin-left: 10px
	.right .resume-description strong
		margin-left: 10px
	.left
		text-align: right
		border-right: #d2d2d2 1px solid
		h3
			text-align: right
	.right
		text-align: left
		h3
			text-align: left
	h3
		margin-top: 30px
	.resume-icon
		font-size: 40px
		margin-bottom: 10px
	.year
		color: #fff
		font-weight: 600	
		display: inline-block
		padding: 0 15px
		margin-bottom: 10px
		margin-top: 20px
	p
		margin-top: 10px
	strong
		font-weight: 600
		font-style: normal
		text-transform: uppercase
	.resume-item
		margin-bottom: 10px	
		&:last-child
			margin-bottom: 0px
			p
				margin-bottom: 0px
	.resume-description
		font-style: italic

.s-portfolio
	ul
		list-style-type: none
		padding: 0px
		margin: 0px 0px 50px 0px
		text-align: center
		width: 100%
		li
			display: inline-block
			text-align: center
			margin: 0 10px
			text-transform: uppercase
			font-size: 12px
			cursor: pointer
			line-height: 2
			a 
				text-decoration: none

.portfolio-item 
	//display: none
	padding: 5px
	img
		width: 100%
		height: auto
	.port-item-cont
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0,0,0,.8)
		text-align: center
		opacity: 0
		transition: opacity 0.8s
		display: flex
		&::before
			position: absolute
			content: ''
			left: 0
			bottom: 0
			width: 0
			box-sizing: border-box
			height: 0
			border-bottom: 3px solid transparent
			border-left: 3px solid transparent
			transition: all .5s ease
			z-index: 0
		&::after
			position: absolute
			content: ''
			right: 0
			top: 0
			width: 0
			box-sizing: border-box
			height: 0
			border-top: 3px solid transparent
			border-right: 3px solid transparent
			transition: all .5s ease
			z-index: 0
	&:hover 
		.port-item-cont
			opacity: 1
			display: flex
			&::after
				border-color: tomato
				width: 100%
				height: 100% 
		.port-item-cont
			&::before
				border-color: tomato
				width: 100%
				height: 100%			
		.wrapper 
			align-items: center
			justify-content: center
			display: flex
			flex-direction: column
	.wrapper 
		align-items: center
		justify-content: center
		display: flex
		flex-direction: column
	h3
		color: #fff
		margin-bottom: 0px
	p
		margin-top: 14px
		margin-bottom: 14px
	a
		background-color: transparent 
		padding: 2px 10px 
		text-decoration: none
		display: inline-block
		z-index: 10

.mfp-bg
	background: #0b0b0b
	opacity: 0.8

.mfp-close-btn-in 
	.mfp-close
		color: #fff
		margin-top: 15px

.port-descr
	display: flex
	justify-content: center
	text-align: center
	p,h3
		padding: 20px 20px 0px 20px
	h3
		margin-bottom: 0px
		text-align: center
		text-transform: uppercase
		font-weight: 400
		margin-top: 20px
		padding-top: 25px
		color: #fff
	img
		width: auto
		margin-top: 20px
	p
		margin-bottom: 20px
		color: #fff
		max-width: 50%
	.port-item-but
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%

.modal-box-content
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	a
		text-decoration: none	

.contact-box
	margin-bottom: 30px
	h3
		text-align: left
		color: #000
		margin-bottom: 0px
		font-size: 14px
	.contants-icon
		font-size: 30px		
	p
		margin-top: 5px

.fw_form_fw_form
	button
		border: none
		color: #fff
		line-height: 32px
		padding: 0 20px
		font-size: 13px
		text-transform: uppercase
		font-weight: 600
		margin-top: 10px
	.wrap-forms
		display: block
		margin-bottom: 20px
		input,
		textarea
			width: 100%
			border: 1px solid #ccc
			margin-top: 5px
			line-height: 40px
			text-indent: 12px
			font-size: 12px
			background-color: transparent
		label
			font-weight: normal
	.loader-inner
		max-width: 20px
		margin-top: 15px
		margin-left: 15px
	.border-error
		border: 1px solid red !important

.masonry-container
	padding: 0
	text-align: center
	
.form-alert
	display: none
	margin-top: 15px

@import "media" // Always at the end
